EXPO_PUBLIC_OLLAMA_ENDPOINT=http://127.0.0.1:11434
EXPO_PUBLIC_OLLAMA_MODEL=llama3.2:3b
EXPO_PUBLIC_AVATAR_AUTOSPEAK=true
EXPO_PUBLIC_TTS_ENGINE=kokoro

EXPO_PUBLIC_ELEVENLABS_API_KEY=69a5110df1682dd5b807d4f86e183dccf30355ac82c66e72f35b5542ec775ca0
EXPO_PUBLIC_ELEVENLABS_MODEL_ID=eleven_multilingual_v2
EXPO_PUBLIC_ELEVENLABS_VOICE_ID=21m00Tcm4TlvDq8ikWAM
EXPO_PUBLIC_ELEVENLABS_VOICE_ID_MALE=pNInz6obpgDQGcFmaJgB

EXPO_PUBLIC_KOKORO_ENDPOINT=http://127.0.0.1:8880
EXPO_PUBLIC_KOKORO_MODEL=kokoro-82m
EXPO_PUBLIC_KOKORO_VOICE=ff_siwis
EXPO_PUBLIC_KOKORO_LANG=f
EXPO_PUBLIC_KOKORO_SPEED=1.1
